{% extends 'base.html' %}

{% block content %}

<h2>Reset password</h2>
<p>Submit your email and you will receive a new activaton link where you can set a new password.</p>
<form method="post" action=".">
{% csrf_token %}
    <fieldset>
    <div class="clearfix">
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="alert-message warning">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form.email.label_tag }}
        <div class="input"> 
            {{ form.email }}
        </div>
    </div>
    <div class="actions">
        <input type="submit" class="btn primary" value="Send" />
    </div>
    </fieldset>
</form>


{% endblock %}
