{% extends 'base.html' %}

{% block content %}
{% if validlink %}
<h2>Change your password</h2>

<form method="post" action=".">
{% csrf_token %}
    <fieldset>
    <div class="clearfix">
        {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
                <div class="alert-message warning">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form.new_password1.label_tag }}
        <div class="input"> 
            {{ form.new_password1 }}
        </div>
    </div>
    <div class="clearfix">
        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                <div class="alert-message warning">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form.new_password2.label_tag }}
        <div class="input"> 
            {{ form.new_password2 }}
        </div>
    </div>
    <div class="actions">
        <input type="submit" class="btn primary" value="Change" />
    </div>
    </fieldset>
</form>
{% else %}
<h2>This url is no longer valid</h2>
<p>This url is no longer valid because it's already been used or the expiration date is over due.</p>
{% endif %}
{% endblock %}

