{% extends 'base.html' %}

{% block content %}

<h2>Register</h2>
{% if form.non_field_errors %}
    <div class="alert-message error">
        <p>{{ form.non_field_errors }}</p>
    </div>
{% endif %}

<form method="post" action=".">
{% csrf_token %}
    <fieldset>
    <div class="clearfix">
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <div class="alert-message warning">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form.username.label_tag }}
        <div class="input"> 
            {{ form.username }}
        </div>
    </div>
    <div class="clearfix">
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="alert-message warning">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form.email.label_tag }}
        <div class="input"> 
            {{ form.email }}
        </div>
    </div>
    <div class="clearfix">
        {% if form.password1.errors %}
            {% for error in form.password1.errors %}
                <div class="alert-message warning">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form.password1.label_tag }}
        <div class="input"> 
            {{ form.password1 }}
        </div>
    </div>
    <div class="clearfix">
        {% if form.password2.errors %}
            {% for error in form.password2.errors %}
                <div class="alert-message warning">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form.password2.label_tag }}
        <div class="input"> 
            {{ form.password2 }}
        </div>
    </div>
    <div class="actions">
        <input type="submit" class="btn primary" value="register" />
    </div>
    </fieldset>
</form>
{% endblock %}
